// Color
$color-1:#ec7532;
$color-2:#c63b02;
$color-3:#fec899;
$color-4:#acbcd6;
$color-white:#ffffff;

// px
$px-10:10px;
$px-20:20px;
$px-30:30px;
$px-40:40px;
$px-50:50px;
$px-60:60px;
$px-70:70px;
$px-80:80px;
$px-90:90px;
$px-100:100px;

